.app {
    background: url("./img/photostudio/photostudio1.png") center center no-repeat;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;
}

.firstRow {
    position: relative;
}

.shutterButton {
    position: absolute;
    bottom:10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}